<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Type the word and press submit to get the defenition of the word</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="word" id="word-input">
        <input type="submit" value="submit">
    </form>

    {% if def %}
    <h2>Defenition: {{ def }}</h2>

    {% endif %}
    
</body>
</html>